.DS_Store
.idea
imgui.ini
cmake-*
ImportExecutables-*.cmake
/out*
dist
dist-*
toolchains
filament/docs/html/**
.vscode
*tmp*.png
civetweb.txt
/TAGS
settings.json
test*.png
test*.json
results
/compile_commands.json
/.cache

# For /test/renderdiff dependencies
/mesa
/gltf
/filament-assets
#
MD
**/_*
**/Android64/
**/Android/
**/Win64/
**/Win32/
**/build/
*.tgz
bin
**/aar/
**/*.7z
**/.gradle/
**/.idea/
.vscode
*.iml
*.log